<div class="container">
    
    <div class="row">
        <div class="col-sm-4">

            <form [formGroup]="clientForm" (ngSubmit)="onSubmitAddForm()">
                
                <div class="form-group">
                    <label>Nom :</label>
                    <input type="text" formControlName="nom" id="" class="form-control" placeholder="">
                </div>
                
                <div class="form-group">
                <label>Prenom :</label>
                <input type="text" formControlName="prenom" id="" class="form-control" placeholder="">
                </div>

                <div class="form-group">
                <label>Contact :</label>
                <input type="text" formControlName="contact" id="" class="form-control" placeholder="">
                </div>
                
                <div class="form-group">
                    <label>Addresse :</label>
                    <input type="text" formControlName="addresse" id="" class="form-control" placeholder="">
                </div>

                <button type="submit" class="btn btn-info mx-2" [disabled]="clientForm.invalid">Enregistrer</button>
                <button (click)="listeClient()" class="btn btn-success">Retour</button>
            </form>
        </div>
    </div>
</div>